<footer class="f-pads">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h3 class="upper">Links</h3>

                <div class="links">
                    <ul>
                        <li><a href="">About </a></li>
                        <li><a href="">Corporate Travels</a></li>
                        <li><a href="">Packages</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Terms and conditions </a></li>
                        <li><a href="">Privacy Policy </a></li>
                        <li><a href="">Register </a></li>
                        <li><a href="">Contact us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h3 class="upper">Contact</h3>

                <div class="Contact-list">
                    <ul>
                        <li><i class="fa fa fa-phone"></i>Call US <span class="b-font">08055175644 </span></li>
                        <li><i class="fa fa fa-envelope"></i>Mail <span>info@voyagertravels.net</span></li>
                    </ul>
                </div>
                <div class="social-icons hidden-xs">
                    <h3 class="dance">Follow Us</h3>
                    <ul>
                        <li class="fb"><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li class="tw"><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li class="google"><a href=""><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h3 class="upper">Contact us</h3>

                <div class="inquire-form">
                    <form id="inquire-from" name="contact-form" method="post" action="mailer.php">
                        <div class="form-group ">
                            <input type="text" name="name" class="form-control inquire-control  " placeholder="Name"
                                   required>
                        </div>
                        <div class="form-group ">
                            <input type="email" name="email" class="form-control inquire-control  " placeholder="Email"
                                   required>
                        </div>
                        <div class="form-group ">
                            <textarea name="message" class="form-control inquire-control  " rows="2"
                                      placeholder="Message" required></textarea>
                        </div>
                        <button type="submit" class="btn-blue">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
