<section class="inner-page">
<div class="container">
<div class="row">

<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
<div class="page-title">
<h3 class="white upper">Services</h3>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
<div class="breds">
<ol class="breadcrumb">
    <li><a href="index.html">Home</a>
    </li>
    <li class="active"><a href="#">Servcies</a>

    </li>
  
</ol>
</div>
</div>
</div>





</div>

</section>

<section class="sec-pads">
<div class="container">

<div class="row">

<div class="col-lg-12 col-xs-12">

<h4>RESERVATIONS & BOOKING</h4> 
    <div class="sep-green"></div>
    
    <p>All our accounts have assigned dedicated relationship officers.This is to ensure that your travel instructions are executed according to your mandate and preferences. They will see to every fine detail required e.g Seat arrangement, meal preferences etc. Relationship managers may be located at your premises depending on your preference.</p>
    
    
    <hr />

<h4> ON-LINE RESERVATION SYSTEM</h4> 
    <div class="sep-green"></div>
    
    <p>We have an On-line Reservation System in our office to ensure execution time between your mandate and feedback is instantaneous. We can then confirm your bookings as required.</p>
    
    
     <hr />
     
     
     <h4>RECONFIRMATIONS</h4> 
    <div class="sep-green"></div>
    
    <p>Reconfirmation requirements differ from airline to airline.When necessery, this will be done by a member of the Voyager Travel team This will also be extended to tickets originating from outside Nigeria.</p>
    
    
     <hr />
     
     
      <h4>TICKETS ISSUANCE & DELIVERY</h4> 
    <div class="sep-green"></div>
    
    <p>Voyager is able to issue tickets at any time at the instance of DUETSHE BANK Tickets issuance and delivery is a phone call / e-mail call away from us.</p>
    
    
     <hr />
     
     
      <h4>FREQUENT FLYER PROGRAM</h4> 
    <div class="sep-green"></div>
    
    <p>VOYAGER TRAVELS will set up, maintain and update executive card records for each of its clients.</p>
    
<b>The program has several advantages e.g</b>
<br />
<ul class="listcheck">
<li>free ticket on accumulated miles</li>
<li>priority at check in-counters</li>
<li>priority on seat confirmation when flights are full</li>
<li>access to the airline's business lounge worldwide</li>
    </ul>
    
     <hr />
     
      <h4>PAYMENT CONDITIONS</h4> 
    <div class="sep-green"></div>
    
    <p>Payment is strictly on issance of tickets unless otherwise agreed. Standard practice is that, any receipted charge will be reimbursed.</p>
    <hr />
    
    <h4>TURN AROUND TIME FOR SERVICES</h4> 
    <div class="sep-green"></div>
    
    <p>Payment is strictly on issance of tickets unless otherwise agreed. Standard practice is that, any receipted charge will be reimbursed.</p>
    <ol>
<li>Immediately depending on request time</li>
<li>Purchase Orders are issued immediately upon request</li>
<li>Refunds are made available to clients as soon as the various airlines respond accordingly.However this should not usually 6 weeks from date of submission</li>
  </ol>
  
    <hr />
    
</div>


</div>

</div>



</section>



