.cont{
	   /*width:637px;*/
		border:#CCC 1px solid;
		margin:10px 0px 10px 0px;
		padding:5px;
	}
	
.cont img{  
        margin:0px 10px 10px 0px;
		float:left;
	}

table.partners{
    border-collapse:separate;
    border-spacing:20px;
}
table.our-clients{
    border-collapse:separate;
    border-spacing:2px;
}
table.our-clients td{
    padding-left:20px;
}
div#loading {
    background-image: url('../Images/aeroplane.jpg');
    background-repeat:no-repeat;
    width:101px;
    height:55px;
    margin: -25px 0 0 -50px;
    position:fixed;
    top:50%;
    left:50%;
    z-index:10;
}

#wrapper {
    background:rgba(255,255,255,0.5);
    z-index: 9;
    width: 100%;
    height: 100%;
    position: fixed;
    /*background-image: url('../Images/backgroud.png');*/
    /*background-color: lightblue;
    top: 0;
    left: 0;
    background-repeat: repeat;
    opacity:0.5;*/
}

#airports ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width:280px;
}

    #airports ul li {
        /*border-bottom: 1px solid #90bade;*/
        padding: 0px 3px;
        font-size: 12px;
        display: inline-block !important;
        width: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
        background: rgb(242,246,248); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
    }
        #airports ul li:hover {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8ffe8+0,e3f5ab+33,b7df2d+100;Green+3D+%234 */
            background: rgb(248,255,232); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(248,255,232,1) 0%, rgba(227,245,171,1) 33%, rgba(183,223,45,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(248,255,232,1) 0%,rgba(227,245,171,1) 33%,rgba(183,223,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */
        }
        #airports ul li .code {
            width: 10%;
            float: left;
            color:blue;
            font-style:italic;
        }
        #airports ul li .country {
            width: 90%;
            float: right;
            text-align: right;
            color:green;
        }
        #airports ul li .name {
            width: 100%;
            font-weight: bold;
            color: chocolate;
        }


input[type="date"] {
     -webkit-align-items: center;
     display: -webkit-inline-flex;
     font-family: monospace;
     overflow: hidden;
     padding: 0;
     -webkit-padding-start: 1px;
}

input::-webkit-datetime-edit {
    -webkit-flex: 1;
    -webkit-user-modify: read-only !important;
    display: inline-block;
    min-width: 0;
    overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
    -webkit-user-modify: read-only !important;
    display: inline-block;
    padding: 1px 0;
    white-space: pre;
}

::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; }

::-moz-datetime-edit { padding: 1em; }
::-moz-datetime-edit-fields-wrapper { background: silver; }
::-moz-datetime-edit-text { color: red; padding: 0 0.3em; }
::-moz-datetime-edit-month-field { color: blue; }
::-moz-datetime-edit-day-field { color: green; }
::-moz-datetime-edit-year-field { color: purple; }
::-moz-inner-spin-button { display: none; }
::-moz-calendar-picker-indicator { background: orange; }