.cont{
	   /*width:637px;*/
		border:#CCC 1px solid;
		margin:10px 0px 10px 0px;
		padding:5px;
	}
	
.cont img{  
        margin:0px 10px 10px 0px;
		float:left;
	}

table.partners{
    border-collapse:separate;
    border-spacing:20px;
}
table.our-clients{
    border-collapse:separate;
    border-spacing:2px;
}
table.our-clients td{
    padding-left:20px;
}
div#loading {
    background-image: url('../Images/aeroplane.jpg');
    background-repeat:no-repeat;
    width:101px;
    height:55px;
    margin: -25px 0 0 -50px;
    position:fixed;
    top:50%;
    left:50%;
    z-index:2;
}