#productDetailPopup .popUp{
  width: 470px;
  height: 300px;
  padding: 40px;
  img{
      height: 233px;
  }
  .detail{
    width: 50%;
    .name{
      text-transform: uppercase;
      font-size: 16px;
    }
    .price{
      color:$bold;
      width: 65px;
      margin: 20px auto;
      height: 45px;
      .value{
        float: left;
        font-size: 50px;
      }
      .currency{
        float: left;
        font-size: 15px;
        position: relative;
        top: 10px;
      }
    }
    .color{
      .name{
        color: $bold;
        text-transform: uppercase;
        font-size: 14px;
      }
      .box{
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 3px;
      }
      .selected{
        border:1px solid peru;
      }
      .colorBoxes{
        padding: 5px 80px 14px;
        height: 23px;
        /* vertical-align: middle; */
      }
    }
    select,input{
      text-transform: uppercase;
      width: 100px;
      padding-bottom: 0px;
      border: 1px solid rgb(166, 166, 166);
      border-radius: 0px;
      height: 26px;
      font-size: 14px;
    }
    input[type=number]{
      width: 35px;
    }
    a{
      text-decoration: underline;
    }
    button{
      margin: 12px 0px;
    }
  }
}
