$btnInactive: #d1c3a3;
$btnActive: #f4373e;
$white: #ffffff;
$color1: #160d06;
$color2: #ffc80a;
$color3:red;
$color4: #f4373e;
$color5: #f9f5f5;
$color6: #755535;
$color7: #fbfbfb;
$color8: #585858;
$borderColor: lightgray;
$gray: #bcbcbc;
$bold: #646464;
$command: #929292;
$buttonColor: #1069bd;
