<section class="dark-blue">
    <div class="row">

        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">

            <div class="sec-box">
                <h3 class="upper white">About us</h3>

                <div class="sep-green"></div>

                <p class="white">VOYAGER TRAVELS is an IATA (International Air Transport Association ) licensed agency
                    run by a team of consultants with extensive experience in the travel and service industry. What sets
                    us apart is our dedication and commitment to making your life easier when it comes to travel.We go
                    the extra mile. </p>

                <p class="white">Voyager travels, is an independent specialist travel company with over 20 years
                    experience in planning and organising millions of holidays. We specialise in online travel
                    fulfilment services and online travel sales, we can pick any holiday/ flight from any tour operator
                    to ensure you get the best deal around, therefore giving you the assurance of that perfect holiday
                    from start to finish. </p>

                <div class="action-btn">
                    <a href="" class="btn-green">Know More</a>

                </div>


            </div>
        </div>


        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">


            <div class="my-carousel">
                <div id="discover" class="owl-carousel">
                    <div class="item discover">


                        <div class="over-content">


                            <ul>
                                <li><i class="fa fa-location-arrow"></i></li>
                                <li class="dance">Discover</li>
                                <li class="title">CUBA</li>
                                <li class="sub-title">America</li>

                                <li>
                                    <div class="sep-white"></div>
                                </li>

                                <li class="price">Starts From <span>$1200</span></li>

                                <li class="explore"><a href="" class="btn-line hvr-sweep-to-bottom">Explore</a></li>

                            </ul>


                        </div>
                        <img src="images/cuba.jpg">


                    </div>
                    <div class="item discover">


                        <div class="over-content">


                            <ul>
                                <li><i class="fa fa-location-arrow"></i></li>
                                <li class="dance">Discover</li>
                                <li class="title">Paris</li>
                                <li class="sub-title">france</li>

                                <li>
                                    <div class="sep-white"></div>
                                </li>

                                <li class="price">Starts From <span>$3200</span></li>

                                <li class="explore"><a href="" class="btn-line hvr-sweep-to-bottom">Explore</a></li>

                            </ul>


                        </div>
                        <img src="images/paris.jpg">


                    </div>
                    <div class="item discover">


                        <div class="over-content">


                            <ul>
                                <li><i class="fa fa-location-arrow"></i></li>
                                <li class="dance">Discover</li>
                                <li class="title">Kualalumpur</li>
                                <li class="sub-title">Malaysia</li>

                                <li>
                                    <div class="sep-white"></div>
                                </li>

                                <li class="price">Starts From <span>$2200</span></li>

                                <li class="explore"><a href="" class="btn-line hvr-sweep-to-bottom">Explore</a></li>

                            </ul>


                        </div>
                        <img src="images/malaysia.jpg">


                    </div>


                </div>


            </div>


        </div>
    </div>
</section>

<script>

var owl = $("#features-places");


    owl.owlCarousel({
        items: 4, //10 items above 1000px browser width
        autoPlay: false,
        navigation: true,
        pagination: false,
        paginationNumbers: false,
        itemsDesktop: [1199, 4],
        itemsDesktopSmall: [1024, 3],
        itemsTablet: [768, 2],
        itemsMobile: [479, 1],

        navigationText: [
            "<i class='fa fa-chevron-left'></i>",
            "<i class='fa fa-chevron-right'></i>"
        ]
    });

    var owl = $("#discover");
    owl.owlCarousel({
        items: 2, //10 items above 1000px browser width
        autoPlay: true,
        navigation: true,
        pagination: false,
        paginationNumbers: false,
        itemsDesktop: [1199, 2],
        itemsDesktopSmall: [1024, 2],
        itemsTablet: [768, 1],
        itemsMobile: [479, 1],

        navigationText: [
            "<i class='fa fa-chevron-left'></i>",
            "<i class='fa fa-chevron-right'></i>"
        ]


    });

    var owl = $("#testimonials");


    owl.owlCarousel({
        items: 1, //10 items above 1000px browser width
        autoPlay: true,
        navigation: false,
        pagination: true,
        paginationNumbers: false,
        itemsDesktop: [1199, 1],
        itemsDesktopSmall: [1024, 1],
        itemsTablet: [768, 1],
        itemsMobile: [479, 1]


    });

    var owl = $("#clients");
    owl.owlCarousel({
        items: 5, //10 items above 1000px browser width
        autoPlay: false,
        navigation: true,
        pagination: false,
        paginationNumbers: false,
        itemsDesktop: [1199, 4],
        itemsDesktopSmall: [1024, 4],
        itemsTablet: [768, 3],
        itemsMobile: [479, 2],

        navigationText: [
            "<i class='fa fa-chevron-left'></i>",
            "<i class='fa fa-chevron-right'></i>"
        ]
    });

</script>
