<section class="inner-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <div class="page-title">
                    <h3 class="white upper">Our Clients</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="breds">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">
                            <a href="#">Clients</a>

                        </li>

                    </ol>
                </div>
            </div>
        </div>





    </div>

</section>

<section class="sec-pads">
    <div class="container">

        <div class="row">

            <div class="col-lg-12 col-xs-12">
                <table class="our-clients">
                    <tr><td>STANDARD CHARTERED BANK</td><td>ALUKO &amp; OYEBODE</td></tr>
                    <tr><td>GT BANK PLC</td><td>GEORGE IKOLI &amp; OKAGBUE</td></tr>
                    <tr><td>DEUTSCHE BANK</td><td>BANWO &amp; IGHODALO</td></tr>
                    <tr><td>ECAD DESIGN GROUP</td><td>GIWA OSAGIE &amp; CO.</td></tr>
                    <tr><td>A. T. ONAJIDE &amp; CO</td><td>STRACHAN PARTNERS</td></tr>
                    <tr><td>ABIMBOLA&amp; ABIMBOLA</td><td> WTS ADEBIYI &amp; ASSOCIATES</td></tr>
                    <tr><td>SDV NIGERIA LIMITED</td><td>ECAD DESIGNGROUP</td></tr>
                    <tr><td> NIGERIA CONTENT DEVELOPMENT &amp; MONITORY BOARD ( NCDMB )</td><td>A. T. ONAJIDE &amp; COABIMBOLA &amp; ABIMBOLA</td></tr>
                    <tr><td>LAGOS STATE WATERWAYS AUTHORITY</td><td>EXILE RESOURCES</td></tr>
                    <tr><td>MAIN SAIL LTD</td><td>EURAFRIC LTD</td></tr>
                    <tr><td>AGATHAS INTERIORS DESIGN OPTIONS MASTERSTROKE</td><td>HELIOS TOWERS</td></tr>
                    <tr><td>WEST AFRICAN SEASONING CO.LTD (AJINOMOTO)</td><td>OMEL ENERGY NIG LTD</td></tr>
                    <tr><td>LOWE LINTAS LTD</td><td>METALLUM LTD</td></tr>
                    <tr><td>INVESTMENT HOLDINGS LTD</td><td>VIVA METHANOL LTD</td></tr>
                    <tr><td></td><td>LACASADEL HABANO</td></tr>
                </table>
            </div>
        </div>

    </div>


</section>


