<section class="inner-page">
<div class="container">
<div class="row">

<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
<div class="page-title">
<h3 class="white upper">Company</h3>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
<div class="breds">
<ol class="breadcrumb">
    <li><a href="index.html">Home</a>
    </li>
    <li class="active"><a href="#">Company</a>

    </li>
  
</ol>
</div>
</div>
</div>





</div>

</section>


<section class="sec-pads">
<div class="container">

<div class="row">

<div class="col-lg-12 col-xs-12">

<div>

    <h4>Our People and Our Service</h4> 
    <div class="sep-green"></div>
    <p>
What's the difference between our consultants and everyone else in the known world? It's their passion for travel and their experience. It's a combination that is unbeatable in the travel business. it means they go further for customers and give them value that's unbeatable.<br /><br />
We are a very proud of our people. Many of our travel consultants are graduates and all are well travelled and passionate about experiencing travel. Our people work in small teams and have complete ownership to provide  our customers with the highest level of service and expertise. <br /><br />
Even though we are constantly growing, over 60% of our customers have booked their holiday with us before. We believe that the reason for our success and growth is because the quality of our people enables us to provide a personal experience and expertise. Our people focus on giving good personal service and build relationships with their regular customers. </p>
<p>
Each store is made up of a small team of dedicated individuals and our consultants know the names of their regular customers, know where they like to travel and the type of experience and style of travel they prefer.</p>
<p>Not only do they know and understand the places to travel to, they can also ensure you get the most out of your holiday and truly experience the destination. 
We love receiving feedback, good or bad. Please feel free to share your experience with us.</p>

<hr />
<h4>Our Purpose</h4>
<div class="sep-green"></div>

<p>
To be the Century's number one discount airfare specialist providing expertise on airfares and land packages. 
With the introduction of the new consumer protection act as well as our membership with IATA, customers are assured that they are dealing with the most trusted travel brand in South Africa. </p>
<p>Airline Failure Protection - At Voyager Travels, we know the last thing you want to think about when you're packing for your dream holiday, is the thought of getting stranded abroad or having your holiday cancelled and you being left out of pocket. That's why it's reassuring to know that when you book international flights with Voyager Travels we have your best interests in mind.</p>
<hr />
<h4>Specialization</h4>
<div class="sep-green"></div>
<p>We pride ourselves on being able to provide you with a perfect holiday anywhere around the world. Our service specialize in tailor making international holidays to suit all your travel needs.</p>
<p>All of our consultants undergo regular training with an intensive focus on airfare and product specialization ensuring Voyager Travels provides you with expert advice on all your travel needs. </p>
<p>Typically Voyager Travels will provide travel arrangements for local businesses as well as for local leisure customers. We also provide the same high level of service with a focus on the needs of small to medium sized business travel requirements.</p>
<hr />
<h4>Our Product range</h4>
<div class="sep-green"></div>

<p>
Voyager Travels is one of Nigeria's leading travel expert. We have fantastic deals with every major airline with access to rooms in tens of thousands of hotels and experiences across the world. This means when it comes to quality and price we can ensure you get a great deal whatever  your budget. From a weekend break in the Victoria Falls to a holiday of a lifetime in Fiji, we use our buying power and expertise to ensure we can provide your perfect travel experience. 
Our product team has put together a wide range of exciting travel products that suit all budgets and span the world. They have meticulously chosen the best airlines and hotels to ensure our customers enjoy quality as well as value for money. You can view our extensive product range in our Flights, Holidays, Tours, Cruise, Online Offerings section of the website.</p>
<hr />
<h4>Financial Protection & Piece of Mind</h4>
<div class="sep-green"></div>
<p>Voyager Travels is a member of IATA, the international body. To become a member of IATA, agents must be financially viable, reputable and operate in line with IATA regulations. </p>
<p>IATA is a regulatory body, without IATA we would not be able to operate, many travel agents have to book through IATA accredited agents because they are unable to become members themselves. our IATA membership is an assurance to our customers that they are dealing with a well established, reputable and financially sound company which will be accountable to them at all times. Voyager Travels has its own code of ethics and is responsible to its customers at large.

</p>
</div>


</div>


</div>

</div>


</section>

