
<section class="inner-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <div class="page-title">
                    <h3 class="white upper">Contact</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="breds">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">
                            <a href="#">Contact</a>

                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="sec-pads">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="listCont">
                    <div class="list">
                        <div class="listIn">
                            <img src="images/contact_images1.jpg" width="286" height="91">
                        </div>

                        <div class="listIn2" style="left: 31px; top: 616px;">VOYAGER STORES</div>


                        Call one of our stores during normal business hours. Call 4613723, 4610477


                    </div>


                    <div class="list" style="margin-right:0px;">
                        <div class="listIn">
                            <img src="images/contact_images2.jpg" width="286" height="91">
                        </div>

                        <div class="listIn2" style="left: 31px; top: 616px;">MAKE A TRAVEL BOOKING</div>
                        Contact one of our consultants for expert travel advice.  			Call 4613723, 4610477
                    </div>

                    <div class="list" style="margin-bottom:0px;">
                        <div class="listIn">
                            <img src="images/contact_images3.jpg" width="286" height="91">
                        </div>

                        <div class="listIn2" style="left: 31px; top: 616px;">USEFUL INFORMATION</div>
                        08055175644  <br> 08033038771 <br>08036008771 <br> 08066950103
                    </div>

                    <div class="list" style="margin-right:0px; margin-bottom:0px;">
                        <div class="listIn">
                            <img src="images/contact_images4.jpg" width="286" height="91">
                        </div>

                        <strong>Voyager travels</strong> Provide business travel services tailored to the  		needs of small to medium sized businesses. <br>
                        <br class="clear">

                        


                    </div>

                    <br class="clear">
                </div>
            </div>
        </div>
    </div>
</section>

