<section class="inner-search-page-flights" ng-controller="SearchController">
    <form name="frmSearch" id="frmSearch">
        <div class="container">
            <div class="row">
                <h3 class="text-center upper white">FIND YOUR PERFECT Airline</h3>
                <div class="custom-margin col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <label class="custom-lable">Flying From</label>
                    <auto-complete title="Airport Name" subtitle="name" displaykey="name" retkey="code" modelret="travelInfo.flyFrom" modeldisplay="name"></auto-complete>
                </div>
                <div class="custom-margin col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <label class="custom-lable">Flying to</label>
                    <auto-complete title="Airport Name" subtitle="name" displaykey="name" retkey="code" modelret="travelInfo.flyTo" modeldisplay="name"></auto-complete>
                </div>

                <div class="custom-margin col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <label class="custom-lable">Departure </label>
                    <div class="input-group">
                        <input type="text" placeholder="Select Date" class="form-control custom-control" id="txtDepartureDate" ng-model="travelInfo.departureDate">
                    </div>
                </div>
                <div class="custom-margin  col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <label class="custom-lable">Arrival </label>
                    <div class="input-group">
                        <input type="date" placeholder="Select Date" class="form-control custom-control" id="txtReturnDate" ng-model="travelInfo.returnDate">
                    </div>
                </div>

                <div class="custom-margin col-lg-1 col-md-1 col-sm-2 col-xs-12">
                    <label class="custom-lable">Adults </label>
                    <div class="input-group">
                        <input type="number" class="form-control custom-control " data-style="btn-inverse" ng-model="travelInfo.adult" />
                    </div>
                </div>
                <div class="custom-margin col-lg-1 col-md-1 col-sm-2 col-xs-12">
                    <label class="custom-lable">Kids </label>
                    <div class="input-group">
                        <input type="number" class="form-control custom-control " data-style="btn-inverse" ng-model="travelInfo.child" />
                    </div>
                </div>

                <div class="custom-margin col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <button ng-click="searchFlight()" class="btn-green custom-margin2 ">Search Now</button>

                </div>
            </div>
        </div>
    </form>
</section>

<script>
    $(document).ready(function () {
        $('#txtDepartureDate').datepicker({
            format: "dd-mm-yyyy"
        });

        $('#txtReturnDate').datepicker({
            format: "dd-mm-yyyy"
        });
    });

</script>