<section class="sec-pads">


    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-gallery">


                <div class="section-title text-center">
                    <p>Explore the world with us</p>

                    <h3 class="upper less-marging">Travel Gallery</h3>

                    <div class="sepo"></div>


                    <div class="gallery">
                        <ul>
                            <li>
                                <a class="fancybox" rel="gallery1" href="images/01.jpg" title="Image Description">
                                    <img src="images/01.jpg" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a class="fancybox" rel="gallery1" href="images/02.jpg" title="Image Description">
                                    <img src="images/02.jpg" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a class="fancybox" rel="gallery1" href="images/america.jpg" title="Image Description">
                                    <img src="images/america.jpg" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a class="fancybox" rel="gallery1" href="images/england.jpg" title="Image Description">
                                    <img src="images/england.jpg" alt=""/>
                                </a>
                            </li>

                            <li>
                                <a class="fancybox" rel="gallery1" href="images/turkey.jpg" title="Image Description">
                                    <img src="images/turkey.jpg" alt=""/>
                                </a>
                            </li>

                            <li>
                                <a class="fancybox" rel="gallery1" href="images/spain.jpg" title="Image Description">
                                    <img src="images/spain.jpg" alt=""/>
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>


            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


                <div class="section-title text-center">
                    <p>what our customer say`s about us</p>

                    <h3 class="upper less-marging">Tour Reviews</h3>

                    <div class="sepo"></div>


                    <div class="my-carousel">
                        <div id="testimonials" class="owl-carousel">
                            <div class="item testi">


                                <ul>
                                    <li><img src="images/tourist.jpg"></li>
                                    <li class="dance">Ronald David</li>
                                    <li>The sightseeing and activities were better than we even thought! I still can’t
                                        believe we did so much in such a short time, but we did not feel stressed. We
                                        really loved the tour and would do it all over again in a minute! Thanks
                                    </li>

                                </ul>


                            </div>

                            <div class="item testi">


                                <ul>
                                    <li><img src="images/tourist2.jpg"></li>
                                    <li class="dance">Ronald David</li>
                                    <li>The sightseeing and activities were better than we even thought! I still can’t
                                        believe we did so much in such a short time, but we did not feel stressed. We
                                        really loved the tour and would do it all over again in a minute! Thanks
                                    </li>

                                </ul>


                            </div>


                        </div>


                    </div>

                </div>

            </div>

        </div>


    </div>


</section>


<script>

 var owl = $("#testimonials");


    owl.owlCarousel({
        items: 1, //10 items above 1000px browser width
        autoPlay: true,
        navigation: false,
        pagination: true,
        paginationNumbers: false,
        itemsDesktop: [1199, 1],
        itemsDesktopSmall: [1024, 1],
        itemsTablet: [768, 1],
        itemsMobile: [479, 1]


    });

	</script>
	
