<section class="newsletter">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="white upper">SIGN UP FOR NEWSLETTER</h3>

                <h3 class="dance white">To receive our best monthly deals</h3>

            </div>
            <form>

                <div class="my-form">


                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 subscribe">
                        <div class="input-group ">

                            <input type="text" class="form-control custom-control"
                                   placeholder="Enter Your Email Address" aria-describedby="basic-addon2">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>


                        </div>
                    </div>


                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 clearfix ">

                        <button type="submit" class="btn-white">SubScribe</button>

                    </div>


                </div>
            </form>

        </div>

    </div>

</section>
