<section class="sec-pads">

    <div class="container">
        <div class="row">


            <div class="section-title text-center">
                <p>What we can do for you</p>

                <h3 class="upper less-marging">Our Services</h3>

                <div class="sepo"></div>
            </div>
            <div class="ser-contents">

                <div class="services col-md-6">

                    <ul>
                        <li><img src="images/ticketing.png" alt="ticketing"><span>Ticketing sales and delivery direct to you</span>
                        </li>

                        <li><img src="images/reservation.png" alt="reservation"><span>Online reservation system</span>
                        </li>
                        <li><img src="images/countries.png"
                                 alt="countries"><span>Provide visa service for all countries</span></li>


                    </ul>


                </div>

                <div class="services col-md-6">

                    <ul>
                        <li><img src="images/ticketing.png" alt="ticketing"><span>Ticketing sales and delivery direct to you</span>
                        </li>

                        <li><img src="images/reservation.png" alt="reservation"><span>Online reservation system</span>
                        </li>
                        <li><img src="images/countries.png"
                                 alt="countries"><span>Provide visa service for all countries</span></li>

                    </ul>


                </div>
            </div>

            <div class="clearfix"></div>
            <div class="action-btn text-center">
                <a href="" class="btn-blue">Book holiday packages and cruises</a>

            </div>
        </div>

    </div>


</section>
