<section class="inner-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <div class="page-title">
                    <h3 class="white upper">Our Partners</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="breds">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">
                            <a href="#">Partners</a>

                        </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="sec-pads">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <table class="partners">
                    <tbody>
                        <tr>
                            <td width="199" align="center"><img src="images/logo-continental-airlines.gif" width="170" height="40"></td>
                            <td width="539">
                                <strong>
                                    CONTINENTAL  AIRLINES<br>
                                </strong><a href="http://www.kenya-airways.com/" target="_blank" style="color:#666">http://www.united.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo-delta-air-lines.jpg" width="199" height="49"></td>
                            <td>
                                <strong>
                                    DELTA AIRLINES<br>
                                </strong><a href="http://www.delta.com/" target="_blank" style="color:#666">http://www.delta.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo-united.gif" width="191" height="33"></td>
                            <td>
                                <strong>
                                    UNITED AIRLINES<br>
                                </strong> <a href="http://www.kenya-airways.com/" target="_blank" style="color:#666">http://www.united.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo_ASKY_Airlines.jpg" width="157" height="50"></td>
                            <td>
                                <strong>
                                    ASKY AIRLINES<br>
                                </strong><a href="http://www.flyaero.com/" target="_blank" style="color:#666">http://www.fly<strong>asky</strong>.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo-cameroon.gif" width="170" height="40"></td>
                            <td>
                                <strong>
                                    CAMEROON AIRLINES CO<br>
                                </strong> <a href="http://www.qatarairways.com/" target="_blank" style="color:#666">http://www.camair-co.cm/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><a href="images/emirates logo.jpg"><img src="images/logo_air_france.gif" width="152" height="50" border="0"></a></td>
                            <td>
                                <strong>
                                    AIR FRANCE<br>
                                </strong><a href="http://www.emirates.com/" target="_blank" style="color:#666">http://www.airfrance.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo-ethiopian-airline.jpeg" width="150" height="50"></td>
                            <td>
                                <strong>
                                    ETHIOPIAN AIRLINES<br>
                                </strong><a href="http://www.flysaa.com/" target="_blank" style="color:#666">http://www.ethiopianairlines.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo-klm.jpg" width="150" height="50"></td>
                            <td>
                                <strong>
                                    KLM<br>
                                </strong> <a href="http://www.egyptair.com.eg/" target="_blank" style="color:#666">http://www.<strong>klm</strong>.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/Logo-Iberia.jpg" width="150" height="30"></td>
                            <td>
                                <strong>
                                    IBERIA LAE SA OPERAD<br>
                                </strong><a href="http://www.virginnigeria.com/" target="_blank" style="color:#666">http://</a><a href="http://www.flysaa.com/" target="_blank" style="color:#666"></a><a href="http://www.virginnigeria.com/" target="_blank" style="color:#666">http://grupo.iberia.es/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo-south-african-airways-airline.gif" width="150" height="50"></td>
                            <td>
                                <strong>SOUTH AFRICAN  AIRWAY</strong> <br>
                                <a href="http://www.hahnair.com/" target="_blank" style="color:#666">http://www.flysaa.com/ /</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="199" align="center"><img src="images/logo=british.png" width="150" height="50"></td>
                            <td width="539">
                                <strong>BRITISH AIRWAYS</strong><br>
                                <a href="http://www.royalairmaroc.com/" target="_blank" style="color:#666">http://www.royalairmaroc.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo-Royal-Air-Maroc.jpg" width="150" height="40"></td>
                            <td>
                                <strong>
                                    ROYAL AIR MAROC<br>
                                </strong> <a href="http://www.arikair.com/" target="_blank" style="color:#666">http://www.<strong>royalairmaroc</strong>.com//</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo_qatar.jpg" width="150" height="40"></td>
                            <td>
                                <strong>
                                    QATAR AIRLINES <br>
                                </strong><a href="http://www.virgin-atlantic.com/" target="_blank" style="color:#666">http://</a><a href="http://www.ba.com/" target="_blank" style="color:#666">www.qatarairways.com</a><a href="http://www.virgin-atlantic.com/" target="_blank" style="color:#666">/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/Logo-Hahn_Air.png" width="211" height="50"></td>
                            <td>
                                <strong>
                                    HAHN AIR<br>
                                </strong><a href="http://www.ba.com/" target="_blank" style="color:#666">http://www.<strong>hahnair</strong>.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo-Namibia.gif" width="131" height="40"></td>
                            <td>
                                <strong>
                                    AIR NAMIBIA<br>
                                </strong><a href="http://www.turkishairlines.com/" target="_blank" style="color:#666">http://www.<strong>airnamibia</strong>.com.na/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo_lufthansa.jpg" width="150" height="40"></td>
                            <td>
                                <strong>
                                    LUFTHANSA GERMAN AIR<br>
                                </strong> <a href="http://www.flydanaair.com/" target="_blank" style="color:#666">http://www.lufthansa.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo-Turkish_Airlines.jpg" width="192" height="50"></td>
                            <td>
                                <strong>TURKISH AIRLINES</strong><br>
                                <a href="http://www.airfrance.com/" target="_blank" style="color:#666">http://<span id="taw">www.<strong>turkishairlines</strong>.com/</span>/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo_afriqiyah-airways.jpg" width="150" height="50"></td>
                            <td>
                                <strong>
                                    AFRIQIYAH AIRWAYS<br>
                                </strong><a href="http://www.lufthansa.com/" target="_blank" style="color:#666">http://www.afriqiyah.aero/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo_etihad_airways.gif" width="150" height="50"></td>
                            <td>
                                <strong>
                                    ETIHAD AIRLINES<br>
                                </strong> <a href="http://www.afriqiyah.aero/" target="_blank" style="color:#666">http://www.<strong>etihadairways</strong>.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/Logo_Kenya-Airways.jpg" width="150" height="50"></td>
                            <td>
                                <strong>
                                    KENYA AIRWAYS<br>
                                </strong> <a href="http://www.afriqiyah.aero/" target="_blank" style="color:#666">http://www.<strong>kenya</strong>-<strong>airways</strong>.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo-arik.jpg" width="150" height="50"></td>
                            <td>
                                <strong>
                                    ARIK AIR<br>
                                </strong> <a href="http://www.afriqiyah.aero/" target="_blank" style="color:#666">http://www.arikair.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo_HeliAirMonaco.jpg" width="205" height="50"></td>
                            <td>
                                <strong>
                                    HELI AIR MONACO<br>
                                </strong> <a href="http://www.afriqiyah.aero/" target="_blank" style="color:#666">http://www.<strong>heliairmonaco</strong>.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo_Air_nigeria.png" width="173" height="50"></td>
                            <td>
                                <strong>
                                    AIR NIGERIA<br>
                                </strong> <a href="http://www.afriqiyah.aero/" target="_blank" style="color:#666">http://www.my<strong>airnigeria</strong>.com/</a>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img src="images/logo_Virgin_Atlantic.png" width="150" height="40"></td>
                            <td>
                                <strong>
                                    VIRGIN ATLANTIC<br>
                                </strong> <a href="http://www.afriqiyah.aero/" target="_blank" style="color:#666">http://www.<strong>virgin</strong>-<strong>atlantic</strong>.com/</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>

