<section class="sec-pads gray">

    <div class="container">

        <div class="row">


            <div class="section-title text-center">
                <p>Take a Look at Our</p>

                <h3 class="upper less-marging">Most Popular Tours
                </h3>

                <div class="sepo"></div>
            </div>


            <div class="my-carousel ft-places-box ">
                <div id="features-places" class="owl-carousel">
                    <div class="item ft-places">
                        <a href="">
                            <div class="place-thumb">

                                <div class="place-price">Starting form $1230</div>
                                <img src="images/spain.jpg">

                            </div>
                        </a>

                        <div class="place-details">
                            <ul>
                                <li class="name"><i class="fa fa-map-marker"></i> PARIS</li>
                                <li class="services"><img src="images/icon-flight3.png"> <img
                                        src="images/icon-hotel3.png"></li>

                            </ul>

                        </div>


                    </div>

                    <div class="item ft-places">
                        <a href="">
                            <div class="place-thumb">

                                <div class="place-price">Starting form $1330</div>
                                <img src="images/america.jpg">

                            </div>
                        </a>

                        <div class="place-details">
                            <ul>
                                <li class="name"><i class="fa fa-map-marker"></i> New York</li>
                                <li class="services"><img src="images/icon-flight3.png"> <img
                                        src="images/icon-hotel3.png"></li>

                            </ul>

                        </div>


                    </div>

                    <div class="item ft-places">
                        <a href="">
                            <div class="place-thumb">

                                <div class="place-price">Starting form $1230</div>
                                <img src="images/dubai.jpg">

                            </div>
                        </a>

                        <div class="place-details">
                            <ul>
                                <li class="name"><i class="fa fa-map-marker"></i>Beautiful Dubai</li>
                                <li class="services"><img src="images/icon-flight3.png"> <img
                                        src="images/icon-hotel3.png"></li>

                            </ul>

                        </div>


                    </div>


                    <div class="item ft-places">
                        <a href="">
                            <div class="place-thumb">

                                <div class="place-price">Starting form $1230</div>
                                <img src="images/turkey.jpg">

                            </div>
                        </a>

                        <div class="place-details">
                            <ul>
                                <li class="name"><i class="fa fa-map-marker"></i>Turkey</li>
                                <li class="services"><img src="images/icon-flight3.png"> <img
                                        src="images/icon-hotel3.png"></li>

                            </ul>

                        </div>


                    </div>

                    <div class="item ft-places">
                        <a href="">
                            <div class="place-thumb">

                                <div class="place-price">Starting form $1230</div>
                                <img src="images/england.jpg">

                            </div>
                        </a>

                        <div class="place-details">
                            <ul>
                                <li class="name"><i class="fa fa-map-marker"></i>England</li>
                                <li class="services"><img src="images/icon-flight3.png"> <img
                                        src="images/icon-hotel3.png"></li>

                            </ul>

                        </div>


                    </div>


                </div>


            </div>


            <div class="action-btn text-center">
                <a href="" class="btn-blue">View All </a>

            </div>
        </div>
    </div>
</section>


<script>


	

      var owl = $("#features-places");


    owl.owlCarousel({
        items: 4, //10 items above 1000px browser width
        autoPlay: false,
        navigation: true,
        pagination: false,
        paginationNumbers: false,
        itemsDesktop: [1199, 4],
        itemsDesktopSmall: [1024, 3],
        itemsTablet: [768, 2],
        itemsMobile: [479, 1],

        navigationText: [
            "<i class='fa fa-chevron-left'></i>",
            "<i class='fa fa-chevron-right'></i>"
        ]
    });
	

   

</script>
