<section class="inner-page">
<div class="container">
<div class="row">

<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
<div class="page-title">
<h3 class="white upper">Our Team</h3>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
<div class="breds">
<ol class="breadcrumb">
    <li><a href="index.html">Home</a>
    </li>
    <li class="active"><a href="#">Our Team</a>

    </li>
  
</ol>
</div>
</div>
</div>





</div>

</section>

<section class="sec-pads">
<div class="container">

<div class="row">

<div class="col-lg-12 col-xs-12">

<h4>Kemi Adefolu (Managing Director)</h4> 
    <div class="sep-green"></div>
    
    <p>
 
The company is driven by Ms Kemi Adefolu , the company's managing director, a seasoned banker with several years experience in the service industry.She has acquired competence in customer service and total quality management.Since joining the travel industry she has attended several training programmes within and outside Nigeria.A highly customer focused person ; She is always ready to deploy all the resources on the company to serve the customer. </p>

<hr />
<h4>Janet Alabi (Agency Manager)</h4> 
    <div class="sep-green"></div>
<p>

Janet manages the office.She is in charge of reservations,assists clients with their travel arrangements and generally attends to clients. She is a graduate of business admin management and has been on several training courses at British airways and Virgin Altlantic, Amadeus and Galileo since joining Voyager. <br><br> 
</p> 


</div>


</div>

</div>


</section>


</div>

