<div class="top-bar">

    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-7 hidden-xs">
                <div class="contacts-top">
                    <ul>
                        <li><i class="fa fa-phone"></i>
                            08055175644
                        </li>
                        <li class="c-email"><i class="fa fa-envelope"></i>
                            info@voyagertravels.net
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-3 col-xs-3">

                <div class="social-icons hidden-sm hidden-xs">

                    <ul>

                        <li class="fb"><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li class="tw"><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li class="google"><a href=""><i class="fa fa-google-plus"></i></a></li>


                    </ul>


                </div>

            </div>


            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="logins" ng-controller="LoginController">

                    <ul>
                        <li class="login"><a href="#/login"><i class="fa fa-user"></i>Login</a></li>
                        <li class="register"><a href="#/register"><i class="fa fa-unlock-alt"></i>Register</a></li>


                    </ul>

                </div>


            </div>

        </div>

    </div>

</div>
